{% extends 'website/base.html' %}

{% block title %}
Blue Heritage Amsterdam - Brits Korthaar Cattery 
{% endblock %}

{% block content %}
<h1>Welkom</h1>
<div class="intro"> 
<p>
    Welkom op de website van onze Brits Korthaar Cattery Blue Heritage. U vindt hier niet alleen 
    informatie over onze poezen en, indien aanwezig, onze kittens, maar ook over kattenshows, het 
    proces van fokken en natuurlijk het ras Brits Korthaar. Ook staan er veel leuke en vooral ook 
    leerzame documentaires op deze site. Wij hebben geprobeerd zoveel mogelijk informatie over de 
    Brits Korthaar en over de kat in het algemeen op deze site te verzamelen. Heeft u toch nog een 
    vraag of opmerking, stuurt u ons dan een <a href = "mailto:info@blueheritage.nl?subject=BH : Contact via website">mailtje</a> 
     of een persoonlijk bericht via onze Facebookpagina: <a href = "https://www.facebook.com/CatteryBlueHeritage" target = "_blank">CatteryBlueHeritage</a>. 
     Heeft u interesse in onze kittens dan willen wij u verzoeken om eerst onze verkoopvoorwaarden te lezen voor
      u contact met ons opneemt. Wij zullen uw mail altijd beantwoorden. Wij hopen dat u veel plezier beleeft aan onze website.
</p>
</div>
{% endblock %}