{% extends 'website/base.html' %}

{% block title %}
Blue Heritage Amsterdam - Brits Korthaar Cattery 
{% endblock %}

{% block content %}

{% load static %}
<h1>Kittens</h1>
<div class="intro"> 
<p>
    Op 30 maart is onze Charlotte bevallen van 4 kittens, 2 blauwe katertjes en 2 blauw/crème poesjes. Alle kittens zijn besproken!
</p>
<p style="color: red">
    Omdat wij al een lange wachtlijst hebben nemen wij voorlopig geen nieuwe kittenaanvragen meer aan!
    Wanneer wij weer aanvragen aannemen zullen wij dat hier vermelden.
</p>
<p style="color: red">    
    Wij adviseren u om geen kittens via Marktplaats te kopen. Ga niet over een nacht ijs en laat u eerst goed informeren. Neem eventueel contact op met de kittenbemiddeling van Felikat of Mundikat en houd rekening met een lange wachttijd. De vraag naar kittens is op dit moment vele malen groter dan het aanbod.
</p>
</div>
</div>

{% endblock %}