{% extends 'website/base.html' %}

{% block title %}
Blue Heritage Amsterdam - Brits Korthaar Cattery - Kittens en ander nieuws
{% endblock %}

{% block content %}

<h1>Kittens en ander nieuws</h1>
<div class="intro"> 

        <div class="post block">
            <h1 class="title">{{ post.title }}</h2>
            <small>Geplaatst op {{ post.date_added }}</small>
            <br>
            {% if post.image %}
                <img class="postimg" src="{{ post.image.url }}">
            {% endif %}
            <p>{{ post.body }}</p>
        </div>




</div>
</div>

{% endblock %}