{% extends 'website/base.html' %}

{% block title %}
Blue Heritage Amsterdam - Brits Korthaar Cattery 
{% endblock %}

{% block content %}
<h1>Welkom</h1>
<div class="intro"> 
<p>
    Wij zijn Linda en Theo van Wittmarschen en wonen in de Amsterdamse Watergraafsmeer. Wij zijn een hobby-cattery en hebben op 8 mei 2012 ons eerste kitten gekregen. Halverwege het jaar 2011 is bij ons het idee opgekomen om eens een nestje te gaan fokken met een van onze poezen. Wil je dat helemaal volgens de regels doen dan moet je een catterynaam gaan aanvragen. Na aanvraag is het ongeveer twee maanden wachten tot alles geregeld is. Dan pas kan je echt beginnen met het fokken van een nestje. Op de sites van de verschillende kattenverenigingen staat precies wat je moet doen. Omdat wij hierin nog helemaal onervaren waren werden wij begeleid door de eigenaren van de cattery waar onze oudste  poes vandaan komt. Hier zijn wij heel blij mee want er komt nog heel wat bij kijken.
</p>
</p>
    Onze catterynaam hebben wij gekozen omdat zowel onze eerste Brit als onze eerste poes waar we een nestje van kregen beide de kleur blauw hebben. Toen wij bijna zevenentwintig jaar geleden besloten dat we een kat wilden hebben is, na grondig vooronderzoek, onze keus gevallen op de Brits Korthaar. Vooral zijn voorkomen en karakter hebben de doorslag gegeven en zo kochten wij onze eerste Brit bij cattery Morgaine's. Sindsdien zijn wij verknocht aan het ras en in de loop van de jaren hebben wij Britjes in de kleuren blauw, lilac, chocolate en silver tabby gehad. Pas sinds 2012 hebben wij voor het eerst gekozen voor een kater en wat was dat een knuffelbeer. Er is een duidelijk karakterverschil tussen poezen en katers maar ze zijn natuurlijk allemaal heel erg lief.
</p>
<p>    
    Op het moment hebben we vijf blauwe poezen waarvan drie castraten, drie black-tortie poezen waarvan een castraat, een blue-tortie poes, een rode castraat poes, een choc-tortie poes, een crème poes, een blauw katertje  en een zwarte castraat kater.  Klik voor meer informatie in het menu bij 'Onze katten'.
</p>
</div>
{% endblock %}